**/bower_components
**/dist
**/node
**/node_modules
**/.tmp
**/coverage
target/
.settings/
.metadata
.classpath
.project
.springBeans
.factorypath
.apt_generated
.externalToolBuilders
bin/
classes/
*.class
*.orig
*.log
*.iml
.idea
*.tern-project
**/.DS_Store
dump.rdb
src
test
