**/node
**/.tmp
**/coverage
target/
.settings/
.metadata
.classpath
.project
.springBeans
.factorypath
.apt_generated
.externalToolBuilders
bin/
classes/
*.class
*.orig
*.log
*.iml
.idea
*.tern-project
**/.DS_Store
dump.rdb

.github/
docs
**/node_modules
src
test
.gitignore
.huskyrc.json
.prettierrc.yaml
.tsconfig.json
.tslint.json

